{% extends "inicio.html" %}
{% block principal %}
<div class="container">
    <div class="row ">
        <div class="col">
            <div class="planos">
                <h1 class="basico">Plano Básico</h1>
                <p class="text-center p">4 Banhos por mês</p>
            </div>
            <div class="planos">
                <h1 class="premium">Plano Premium</h1>
                <p class="text-center p">4 Banhos e incluso tosa</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}