{% extends "inicio.html" %}
{% block principal %}
<main>
    <div class="container">
        <h1>Bem-vindo ao Pet-Online!</h1>
        <p>O Pet-Online foi uma iniciativa da <strong>Última School</strong>, uma escola dedicada ao ensino de tecnologia, e entusiastas de pets, visando proporcionar uma experiência de aprendizado única para os alunos interessados em desenvolvimento em Python, com foco especial em Django.</p>
        <p>Nosso objetivo é unir a paixão pelos animais com a vontade de aprender, oferecendo cursos práticos, desafiadores e envolventes que permitem aos estudantes mergulhar no mundo do desenvolvimento de Software, enquanto exploram soluções inovadoras para o universo dos pets.</p>
        <p>Quer se juntar a nós nessa jornada emocionante? Confira nossos cursos em <a href="https://ultima.school/">Ultima School</a> e comece a construir seu futuro hoje mesmo!</p>
    </div>
</main>
{% endblock %}