{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}
<link rel="stylesheet" href="/static/form.css">

{% if sucesso %}
<p class="alert alert-success">Agendamento concluido com sucesso, em breve entraremos em contato</p>

{% else %}

<form action="" method="post" novalidate > 
  <div class="row d-flex justify-content-center">
      <div class="col-md-6 ">
          <div>
              {% csrf_token %}
              {% bootstrap_form form  %}
              <button type="submit" class="btn btn-primary">Reservar Agora</button>
          </div>
      </div>
  </div>

</form>
{% endif %}
{% endblock %}