{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}
<link rel="stylesheet" href="/static/form.css">

{% if sucesso %}
<p class="alert alert-success text-center" id="mensagem">Agendamento concluido com sucesso, em breve entraremos em contato</p>

{% else %}
<div class="principal d-flex justify-content-center mt-5">
  <div class="forms">
    <h1 class="mt-3"> Formúlario de reservas </h1>
    <form  method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary button-default">Reservar Banho</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}