body {
    margin: 0;
    padding: 0;
    background: black;
}
.body{
    background: #cece;
}

h1{
  text-align: center;
  color: red;
}

h2{
  text-align: center;
  margin-left: 50px;
  color: green;
}

.container-section{
  margin-top: -70px;
}

.forms{
    max-width: 65rem;
    margin: 2px solid #cece;
    
}

.principal{
    max-width: 44rem;
    background: white;
    margin: 0 auto;
    border: 2px solid rgb(200, 195, 195);
    border-radius: 5px;
}

.button-default{
    margin-bottom: 10px;
}

header{
    background: white;
    max-width: 100%;
}

.buttons{
  margin-left: 20px;
  margin-top: -39px;
}